#my_bench_1_behind_1
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
} 
#my_bench_1_behind_2 
{
    bottom: 40px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 19;
}
#my_bench_1_behind_3 
{
    bottom: 60px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 18;
}
#my_bench_1_behind_4 
{
    bottom: 80px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 17;
}
#my_bench_1_behind_5 
{
    bottom: 100px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 16;
}
#my_bench_1_behind_6 
{
    bottom: 120px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 15;
}
#my_bench_1_behind_7 
{
    bottom: 140px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 14;
}
#my_bench_1_behind_8 
{
    bottom: 160px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 13;
}
#my_bench_1_behind_9 
{
    bottom: 180px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 12;
}
#my_bench_1_behind_10
{
    bottom: 200px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 11;
}
#my_bench_2_behind_1 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_2 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_3 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_4 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_5 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_6 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_7 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_8 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_9 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_2_behind_10
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_1 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_2 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_3 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_4 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_5 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_6 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_7 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_8 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_9 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_3_behind_10
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_1 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_2 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_3 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_4 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_5 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_6 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_7 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_8 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_9 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_4_behind_10
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_1 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_2 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_3 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_4 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_5 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_6 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_7 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_8 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_9 
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
#my_bench_5_behind_10
{
    bottom: 20px;
    position: absolute;
    width: 125;
    height: 175px;
    z-index: 20;
}
